nav > ul {
    list-style: none;
    display: flex;
}
li {
    padding: 0px 20px;
}

ul a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}



.inside-nav{
    list-style: none;
    display: none;
    position: absolute;
    background-color: lemonchiffon;
    padding: 0 ;
    margin: 0px;
}

li:hover{
    background-color: bisque;
}
.outside-nav:hover>ul{
    display: block;
    
}